node_modules

/build
/public/build
.env
.eslintcache

/postgres-data

.react-router
.sentryclirc
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.trigger
.vercel
*seed-prod.ts

one-offs/
