@tailwind base;
@tailwind components;
@tailwind utilities;

/* shadcn */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --primary: 50 100% 49%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 95%;
    --secondary-foreground: 220.9 39.3% 11%;
    --success: 112 98% 33%;
    --success-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --muted: 0 0% 95%;
    --muted-foreground: 220 8.9% 46.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 210 100% 45%;
    --radius: 0.5rem;
  }

  :root[class~="dark"] {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --border: 0 0% 50%;
    --input: 215 27.9% 16.9%;
    --ring: 210 100% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  input[type="file" i]::-webkit-file-upload-button {
    color: hsl(var(--foreground));
    cursor: pointer;
  }

  ::selection {
    @apply bg-primary text-primary-foreground;
  }

  .link {
    @apply rounded text-foreground underline decoration-primary decoration-4 underline-offset-4 focus-visible:no-underline focus-visible:outline-none focus-visible:ring focus-visible:ring-ring focus-visible:ring-offset-1 contrast-more:decoration-[#0073e6];
  }

  p {
    @apply text-lg font-medium;
  }

  label {
    @apply text-sm font-light;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-bold;
  }

  h1 {
    @apply text-8xl;
  }

  h2 {
    @apply text-7xl;
  }

  h3 {
    @apply text-[56px];
  }

  h4 {
    @apply text-5xl;
  }

  h5 {
    @apply text-[32px];
  }
}
